<div class="mt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              <h2>Protected Page</h2>
            </div>
            <div class="card-body">
              <p>You can only see this page if you are logged in</p>
              <p>You're logged in as <%= @current_user.username %></p>
            </div>
        </div>
      </div>
    </div>
</div>